
<!-- Importante que el id imput y el for del label sean iguales -->

<header>
<input id="perro" class="perra" type="checkbox"  >
<label for="perro">hola</label>
<ul class="puta">
<li>Item 1</li>
<li>Item 2</li>
<li>Item 2</li>
</ul>
<input id="malo" class="ya" type="checkbox"  >
<label for="malo">borrar caja1</label>
<div class="caja1">
	<h2>caja1</h2>
</div>
</header>







<div class="cajapadre">

	Hola que ta mi nombre es jose montoya que te parece lo que bueno la verdad que no se de que hablar
	<div class="cajahijo">
		<h2>caja2</h2>
	</div>
</div>

<div class="caja3">
	<h2>caja3</h2>
</div>